.main-container {
    display: grid;
    justify-items: center;
}

.row-container {
    width:100vw;
    height: 15vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
}

.row-container-dark {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.main-header {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 25% 15%;
    grid-template-rows: auto; 
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
}

.main-header-dark {
    background-color: #2b244d;
    color: white;
}

form {
    display: inherit;
    width: 100%;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    margin-left: 2rem;
}

.submit-btn-dark {
    background-color: #711B86;
    border-color: #711B86;
}

.toggle-button-container {
    cursor: pointer;
    position: relative;
    margin: 0 0.5rem;
    grid-column: 3 / 3;
}

.mode-toggle-input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mode-toggle-bg {
    height: 1rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: background-color 300ms linear;
}

.mode-toggle-circle {
    margin-top: 0.2rem;
    height: 1.30rem;
    width: 1.30rem;
    border-radius: 50%;
    top: -0.2rem;
    position: absolute;
    background-color: #2b244d;
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
    transition: left 300ms linear;
    left:0.1rem;
}

.mode-toggle-circle-checked {
    background-color: white;
    left: 1.1rem;
  }
  
.mode-toggle-bg-checked {
    background-color: #FF0070;
}

.mode-toggle-text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }